Homeworks/Homework 2/HW2_Results.xlsx
Homeworks/HW3_Results.xlsx
Homeworks/Homework 3/HW3_Results.xlsx
Project/main.aux
Project/main.fdb_latexmk
Project/main.fls
Project/main.log
Project/main.synctex.gz
Quizzes/Quiz4.aux
Quizzes/Quiz4.fdb_latexmk
Quizzes/Quiz4.fls
Quizzes/Quiz4.log
Quizzes/Quiz4.synctex.gz
Project/disteu.m
Project/test.m
Project/train.m
Project/lbg.gif
