Homeworks/Homework 2/HW2_Results.xlsx
Homeworks/HW3_Results.xlsx
Homeworks/Homework 3/HW3_Results.xlsx
Project/main.aux
Project/main.fdb_latexmk
Project/main.fls
Project/main.log
Project/main.synctex.gz
Quizzes/Quiz4.aux
Quizzes/Quiz4.fdb_latexmk
Quizzes/Quiz4.fls
Quizzes/Quiz4.log
Quizzes/Quiz4.synctex.gz
Project/disteu.m
Project/test.m
Project/train.m
Project/lbg.gif
*.aux
*.nav
*.log
*.out
*.fls
*.snm
*.toc
*.gz
*.fdb_latexmk
*.aux
Quizzes/Quiz1.aux
Quizzes/Quiz1.fdb_latexmk
Quizzes/Quiz1.fls
Quizzes/Quiz1.log
Quizzes/Quiz5.tex
Quizzes/Quiz1.log
Quizzes/Quiz1.fls
Quizzes/Quiz1.fdb_latexmk
Quizzes/Quiz1.aux
*.pdf
ECE466DigitalSignalProcessingABETMaterial.zip
ABET/HW/CE/Average.docx
ABET/HW/CE/Good.docx
ABET/HW/CE/Poor.docx
ABET/HW/EE/Average.docx
ABET/HW/EE/Good.docx
ABET/HW/EE/Poor.docx
ABET/MD1/CE/Average.docx
ABET/MD1/CE/Good.docx
ABET/MD1/CE/Poor.docx
ABET/MD1/EE/Average.docx
ABET/MD1/EE/Good.docx
ABET/MD1/EE/Poor.docx
ABET/MD2/CE/Average.docx
ABET/MD2/CE/Good.docx
ABET/MD2/CE/Poor.docx
ABET/MD2/EE/Average.docx
ABET/MD2/EE/Good.docx
ABET/MD2/EE/Poor.docx
Codes/MLSP.ipynb
exam_submissions/midterm1/exam_submissions.7z
exam_submissions/midterm2/matt_maloney1.jpg
exam_submissions/midterm2/matt_maloney2.jpg
exam_submissions/midterm2/matt_maloney3.jpg
